:root {
  --cor-enfase: #99c221;
  --cor-brilho: #AEE215;
  --cor-fundo: #fafbf5;
  --cor-destaque: #41474c;
  --cor-texto2: #757D84;
  --cor-texto: #5c6166;
  --cor-bg: #F1F2ED;
  --cor-texto-cl: #fafbf5;
}