.decora {
  max-width: 200px;
  padding: 0px 100px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}
.decoraLink {
  justify-self: center;
}
.dec-d {
  justify-self: end;
}
.dec-e {
  justify-self: start;
}

@media (max-width: 1000px) {
  .decora {
    margin: 0px auto;
    margin-top: 20px;
  }
}

@media (max-width: 400px) {
  .decora {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .decora img {
    width: 80%;
  }
  .dec-d {
    display: none;
  }
  .dec-e {
    display: none;
  }
}