:root {
  --cor-decora: #7f8792;
  --cor-texto: #5c6166;
  --cor-bg: #edf1f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cor-decora: #dfebf7;
    --cor-texto: #ccd5df;
    --cor-bg: #1b2534;
  }
}

.experiencia {
  max-width: 1440px;
  padding: 0px 200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 1.5rem;
  align-items: center;
}

.experiencia h1 {
  font-size: 3rem;
  color: var(--cor-decora);
  text-align: center;
  padding-bottom: 20px;
}

.experiencia-img {
  justify-self: end;
}

.experiencia-text li {
  color: var(--cor-texto);
  line-height: 40px;
  list-style: url("/img/circulo.svg");
  margin: 20px 0px;
  background: var(--cor-bg);
  border-radius: 5px;
  padding: 10px;
}

@media (max-width: 1150px) {
  .experiencia {
    grid-template-columns: 1fr;
    font-size: 1.2rem;
  }
  .experiencia h1 {
    font-size: 2.2rem;
  }
  .experiencia-img {
    justify-self: center;
  }
}

@media (max-width: 800px) {
  .experiencia {
    padding: 0px 30px;
  }
  .experiencia h1 {
    font-size: 2rem;
  }
  .experiencia-text li {
    line-height: 30px;
    margin: 15px 0px;
    padding: 5px;
  }
  .experiencia-img {
    width: 75%;
    height: 75%;
  }
}
