.footer {
  background: var(--dark-color);
}
.footer-container {
  max-width: 1600px;
  padding: 100px 200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 1.2rem;
  color: var(--bg-color);
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.footer-text img {
  margin-top: 100px;
  align-self: flex-end;
}

.footer-svg li {
  display: block;
}

.footer-svg li:not(:last-child) {
  margin-bottom: 40px;
}

.footer-svg img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}

.footer-container img {
  justify-self: end;
}

.footer-img {
  display: none;
}

/* BREAKPOINTS */
@media (max-width: 1400px) {
  .footer-container {
    padding: 100px 150px;
  }
}

@media (max-width: 1200px) {
  .footer-container {
    padding: 100px 100px;
  }
}

@media (max-width: 992px) {
  .footer-container {
    padding: 80px 80px;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-svg {
    display: grid;
    grid-template-columns: 3fr 1fr;
    position: relative;
  }
  .footer-text {
    order: -1;
    text-align: center;
    margin-bottom: 40px;
  }
  .footer-text img {
    display: none;
  }
  .footer-img {
    display: grid;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

/* BREAKPOINTS */
@media (max-width: 768px) {
  .footer-container {
    padding: 60px 40px;
    font-size: 1rem;
  }
  .footer-text {
    font-size: 1.2rem;
  }
  .footer-svg {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer-svg li {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .footer-container {
    padding: 40px 20px;
  }
  .footer-text {
    font-size: 1.1rem;
  }
  .footer-svg img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 375px) {
  .footer-container {
    padding: 30px 15px;
  }
}