:root {
  --cor-bg: #edf1f5;
  --cor-destaque: #304050;
  --cor-decora: #7f8792;
  --cor-texto: #5c6166;
}

@media (prefers-ccolor-scheme: dark) {
  :root {
    --cor-destaque: #313c45;
    --cor-decora: #dfebf7;
    --cor-texto: #f0f4f7;
    --cor-bg: #1b2534;
  }
}

.formacao {
  max-width: 1440px;
  padding: 0px 200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 1.5rem;
  align-items: center;
}
.formacao-text li {
  color: var(--cor-destaque);
  list-style: url("/img/circulo.svg");
  font-weight: bold;
  font-size: 1.6rem;
  padding: 10px;
}

.formacao-text li,
.formacao-text p,
.formacao-text span {
  background: var(--cor-bg);
  border-radius: 5px;
  padding: 0px 10px;
}

.formacao p,
.formacao span {
  color: var(--cor-texto);
  margin-bottom: 20px;
  padding: 5px;
}

.formacao-ord {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formacao h1 {
  font-size: 3rem;
  color: var(--cor-decora);
  text-align: center;
  padding-bottom: 20px;
}

@media (max-width: 1150px) {
  .formacao {
    grid-template-columns: 1fr;
    font-size: 1.2rem;
  }
  .formacao h1 {
    font-size: 2.2rem;
  }
  .formacao-ord {
    padding-right: 10px;
  }
  .formacao-img {
    justify-self: center;
    order: 2;
  }
}
