body {
  font-family: "IBM Plex Sans", Arial, sans-serif;
  margin: 0px;
  background: var(--bg-color);
}

h1,
h2,
h3,
p,
span {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}

.language {
  max-width: 1600px;
  display: flex;
  justify-content: flex-end;
  padding: 0px 200px;
  margin: 0 auto;
  margin-top: 60px;
}
.language img {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.divider {
  border: none;
  border-top: 1px solid var(--divider-color);
  margin: 100px 250px;
  border-radius: 2px;
}

/* BREAKPOINTS */
@media (max-width: 1400px) {
  .language { padding: 0px 150px; }
  .divider { margin: 100px 200px; }
}

@media (max-width: 1200px) {
  .language { padding: 0px 100px; }
  .divider { margin: 80px 150px; }
}

@media (max-width: 992px) {
  .language { padding: 0px 80px; }
  .divider { margin: 60px 130px; }
}

@media (max-width: 768px) {
  .language { 
    display: none;
  }
  .divider { margin: 30px 40px; }
  .project + .divider {
    border-top: none;
  }
}

@media (max-width: 576px) {
  .language { padding: 0px 20px; }
  .divider { margin: 20px 30px; }
}