body {
  font-family: "M PLUS 1", Arial, sans-serif;
  margin: 0px;
  background: var(--cor-fundo);
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.copyright ul {
  font-size: 1rem;
  color: var(--cor-texto2);
  text-align: center;
}
