.header {
  max-width: 1600px;
  padding: 20px 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-color);
  border-bottom: 4px solid var(--header-border);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, border-color 0.3s;
}

.header a svg {
  width: 120px;
  height: auto;
  max-height: 35px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 0px;
  list-style: none;
}

.header-menu a {
  font-size: 1.125rem;
  padding: 10px 0px;
  margin: 0px 20px;
  text-decoration: none;
  color: var(--text-color);
  display: block;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--accent-color);
  margin-top: 2px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: 100%;
}

/* BREAKPOINTS */
@media (max-width: 1400px) {
  .header {
    padding: 20px 75px;
  }
}

@media (max-width: 1200px) {
  .header {
    padding: 20px 50px;
  }
}

@media (max-width: 992px) {
  .header {
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 25px 40px;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
  }
  .header > a {
    display: none;
  }
  .header-menu .contato {
    display: none;
  }

  .header-menu {
    justify-content: center;
  }
  .header-menu a {
    background: var(--bg-color);
    padding: 12px 18px;
    margin: 0px 8px;
    border-radius: 20px;
    border: 2px solid var(--dark-color);
    font-size: 1.1rem;
  }
  .header-menu a[href="#Footer"] {
    display: none;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 20px 20px;
  }
  .header-menu a {
    padding: 6px 14px;
    font-size: 1rem;
    margin: 0px 5px;
  }
}
