

.header {
  max-width: 1440px;
  padding: 50px 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-dec {
  content: "";
  width: 100%;
  height: 20px;
  background: var(--cor-destaque);
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 0px;
  list-style: none;
}

.header-menu a {
  font-size: 1.3rem;
  padding: 10px 0px;
  margin: 0px 20px;
  text-decoration: none;
  color: var(--cor-texto);
  display: block;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-enfase);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 1150px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header a {
    background: var(--cor-bg);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0px;
  }
  .header a:after {
    display: none;
  }
}
@media (max-width: 800px) {
  .header {
    padding: 20px 30px;
  }
  .header-dec {
    height: 10px;
  }
  .header-menu a {
    font-size: 1.2rem;
  }
}
