.introduction {
  max-width: 1600px;
  padding: 0px 200px;
  margin: 0 auto;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
}

.introduction h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: var(--dark-color);
  font-family: 'Noto Traditional Nushu', sans-serif;
  font-weight: 400;
  word-spacing: -2px;
}

.decorative {
  margin: 60px 60px 0px 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.decorativeLink a img {
  display: inline-block;
  border-radius: 50%;
  width: 80%;
}

.decorativeLink a {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.introduction p {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 20px;
}

.introduction span {
  font-size: 1rem;
  color: var(--text-color2);
  display: block;
  text-align: right;
}

.introduction-img {
  grid-column: 3 / 3;
  justify-self: end;
}

/* BREAKPOINTS*/
@media (max-width: 1400px) {
  .introduction {
    padding: 0px 150px;
  }
}

@media (max-width: 1200px) {
  .introduction {
    padding: 0px 100px;
    grid-template-columns: 2fr 80px 2fr;
  }
}

@media (max-width: 992px) {
  .introduction {
    padding: 0px 80px;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .introduction-img {
    grid-column: 1/1;
    justify-self: center;
    max-width: 400px;
  }
  .decorative {
    margin: 20px 40px;
  }
}

@media (max-width: 768px) {
  .introduction {
    padding: 0px 40px;
    margin-top: 40px;
  }
  .introduction h1 {
    font-size: 1.8rem;
    text-align: center;
  }
  .introduction p {
    text-align: center;
  }
  .introduction span {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .introduction {
    padding: 0px 20px;
  }
  .introduction h1 {
    font-size: 1.6rem;
  }
}
