:root {
  --cor-enfase: #ffd369;
  --cor-fundo: #f9f7f7;
  --cor-destaque: #304050;
}

@media (prefers-ccolor-scheme: dark) {
  :root {
    --cor-enfase: #ffd369;
    --cor-fundo: #141e2c;
    --cor-destaque: #313c45;
  }
}

.projeto {
  background: linear-gradient(
    to right,
    #304050 0%,
    #304050 39%,
    #f9f7f7 0%,
    #f9f7f7 100%
  );
}

.projeto-container {
  max-width: 1440px;
  padding: 0px 200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 1.5rem;
  align-items: center;
}
.projeto-text h1 {
  color: var(--cor-fundo);
  font-size: 1.5rem;
  text-align: end;
  padding: 30px;
  border-radius: 0px 5px 5px 0px;
  background: var(--cor-destaque);
}
.projeto-botão {
  place-self: center;
}
.projeto-botão a {
  color: var(--cor-destaque);
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 5px;
  border: 3px solid var(--cor-enfase);
  background: var(--cor-fundo);
  padding: 10px 20px;
}

.projeto-botão a:hover {
  background: var(--cor-enfase);
}
