:root {
  --cor-enfase: #ffd369;
  --cor-texto-cl: #f9f7f7;
  --cor-destaque: #304050;
  --cor-projeto: #304050;
  --cor-fundo: #f9f7f7;
}

.projeto {
  background: linear-gradient(
    to right,
    #304050 0%,
    #304050 39%,
    #f9f7f7 0%,
    #f9f7f7 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --cor-enfase: #ffd369;
    --cor-texto-cl: #aeb5bb;
    --cor-destaque: #313c45;
    --cor-projeto: #aeb5bb;
    --cor-fundo: #141e2c;
  }
  .projeto {
    background: linear-gradient(
      to right,
      #313c45 0%,
      #313c45 39%,
      #141e2c 0%,
      #141e2c 100%
    );
  }
}

.projeto-container {
  max-width: 1440px;
  padding: 0px 200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}
.projeto-text h1 {
  color: var(--cor-texto-cl);
  font-size: 1.5rem;
  text-align: end;
  padding: 30px;
  border-radius: 0px 5px 5px 0px;
  background: var(--cor-destaque);
}
.projeto-botão {
  place-self: center;
}
.projeto-botão a {
  color: var(--cor-projeto);
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 5px;
  border: 3px solid var(--cor-enfase);
  background: var(--cor-fundo);
  padding: 10px 20px;
}

.projeto-botão a:hover {
  color: #141e2c;
  background: var(--cor-enfase);
}

@media (max-width: 800px) {
  .projeto-container {
    padding: 0px 30px;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .projeto {
    background: none;
  }
  .projeto-text h1 {
    font-size: 1.2rem;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    background: none;
    color: var(--cor-texto);
  }
  .projeto-botão a {
    font-size: 1.3rem;
    padding: 10px 20px;
  }
}
