.project-container {
  max-width: 1600px;
  padding: 0px 200px;
  margin: 0 auto;
}

.project-container h2 {
  font-size: 2rem;
  margin-bottom: 32px;
  color: var(--dark-color);
  font-family: 'Noto Traditional Nushu', sans-serif;
  font-weight: 400;
  word-spacing: -4px;
}

.project-container p {
  font-size: 1.2rem;
  margin-bottom: 60px;
  color: var(--text-color);
}

.project-container span {
  font-size: 1.2rem;
  color: var(--text-color);
}

.project-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-container li {
  width: 45%;
  box-sizing: border-box;
}

.project-container li span {
  margin-top: 16px;
  display: block;
}

.project-container li .project-wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}


.project-container li h3 {
  margin: 0;
  align-self: center;
  font-size: 1.3rem;
  color: var(--dark-color);
  font-family: 'Noto Traditional Nushu', sans-serif;
  font-weight: 500;
}

.project-img img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}

.project-img img:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
}

.project-container li img.svg-icon {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  border-radius: 0px;
  box-shadow: none;
  transform: none;
  transition: none;
  aspect-ratio: auto;
  object-fit: initial;
  align-self: center;
}

.project-container li img.svg-icon:hover {
  transform: none;
  box-shadow: none;
}

/* BREAKPOINTS */
@media (max-width: 1400px) {
  .project-container {
    padding: 0px 150px;
  }
}

@media (max-width: 1200px) {
  .project-container {
    padding: 0px 100px;
  }
}

@media (max-width: 992px) {
  .project-container {
    padding: 0px 80px;
  }
  .project-container li {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .project-container {
    padding: 0px 40px;
  }
  .project-container h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 25px;
  }
  .project-container p {
    text-align: left;
    margin-bottom: 30px;
  }
  .project-container li {
    margin-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .project-container {
    padding: 0px 20px;
  }
  .project-container h2 {
    font-size: 1.6rem;
  }
}