.contato {
  background: var(--cor-destaque);
}
.contato-container {
  max-width: 1440px;
  padding: 20px 200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  align-items: center;
  font-size: 1.3rem;
  color: var(--cor-texto-cl);
}
.contato-container p {
  margin-right: 80px;
  font-weight: 600;
}
.contato-container li,
a {
  color: var(--cor-texto-cl);
  text-decoration: none;
  padding: 15px 5px;
  font-size: 1.2rem;
}
.contato-email {
  list-style: url("/img/e-mail.svg");
}
.contato-fone {
  list-style: url("/img/wpp.svg");
}
.contato-in {
  list-style: url("/img/in.svg");
}
.contato-inst {
  list-style: url("/img/insta.svg");
}

.contato-container img {
  place-self: end;
}

@media (max-width: 1300px) {
  .contato-container img {
    display: none;
  }
  .contato-container p {
    margin-right: 0px;
  }
  .contato-container {
    grid-template-columns: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .contato-container {
    padding: 0px 30px;
  }
  .contato-container li,
  a {
    font-size: 1rem;
  }
  .contato-container p {
    text-align: center;
    margin-top: 10px;
  }
}
