.rodape {
  background: var(--cor-destaque);
}
.rodape-container {
  max-width: 1440px;
  padding: 20px 150px;
  margin: 0 auto;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 1fr;
  align-items: center;
  font-size: 1.2rem;
  color: var(--cor-texto-cl);
}
.rodape-container p {
  margin-right: 80px;
  font-weight: 600;
}
.rodape-container li,
a {
  color: var(--cor-texto-cl);
  text-decoration: none;
  padding: 15px 5px;
  font-size: 1rem;
}

.rodape-git-p,
.rodape-in,
.rodape-fone,
.rodape-email {
  display: flex;
  align-items: center;
  position: relative;
}

.rodape-svg .rodape-fone::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("/img/wpp.svg");
  position: absolute;
  left: -20px;
}

.rodape-svg .rodape-email::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 16px;
  background-image: url("/img/e-mail.svg");
  position: absolute;
  left: -20px;
}

.rodape-svg .rodape-git-p::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url("/img/git-p.svg");
  position: absolute;
  left: -21px;
}

.rodape-svg .rodape-in::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("/img/in.svg");
  position: absolute;
  left: -20px;
}

.rodape-container img {
  justify-self: end;
}

@media (max-width: 1150px) {
  .rodape-container img {
    display: none;
  }
  .rodape-container p {
    margin-right: 0px;
  }
  .rodape-container {
    grid-template-columns: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .rodape-container {
    padding: 15px 30px;
    margin-top: 40px;
  }
  .rodape-container li,
  a {
    font-size: 1rem;
  }
  .rodape-container p {
    text-align: center;
    margin-top: 10px;
  }
}
