.c-intro {
  background: linear-gradient(
    to right,
    #304050 0%,
    #304050 39%,
    #f9f7f7 0%,
    #f9f7f7 100%
  );
}

@media (prefers-color-scheme: dark) {
  .c-intro {
    background: linear-gradient(
      to right,
      #313c45 0%,
      #313c45 39%,
      #141e2c 0%,
      #141e2c 100%
    );
  }
}

.c-intro-container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.c-intro-text h1 {
  color: var(--cor-texto-cl);
  font-size: 1.3rem;
  text-align: end;
  padding: 30px;
  border-radius: 0px 5px 5px 0px;
  background: var(--cor-destaque);
}

@media (max-width: 800px) {
  .c-intro-container {
    margin: 0px;
    padding: 0px;
    grid-template-columns: 1fr;
  }
  .c-intro-text h1 {
    font-size: 1.2rem;
    text-align: center;
    padding: 15px;
    border-radius: 0px;
  }
}